
body {

       
       
        background-color: bisque;
        
         /* color: bisque; */
 
 
 }
 

#headPic {

        display: block;
        margin: auto;
        

}



#headText {

        text-align: center;
        color:black

}


#pricing {

    text-align: center;
     /* background-color: blue; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    /* opacity: .5;  */
    /* border:2px solid green; */
/* outline-color:red;   */
outline-style:solid;

}

#services{

display: block;
margin: auto;    
}

#blendIn {

        color: bisque;
        opacity: 0;


}


#bioPic {


        text-align: center;


}



#igLogo {

        /* height: 30px;
        width: 40px; */
        width: 5%;
        margin: auto;
        display: block;
        
  
  
    }
  

    #Insta {


        text-align: center;

    }


    #Email {


        text-align: center;

    }